.landing{
    position: relative;
}
.landing h1{
    position: absolute;
    top: 15vw;
    left: 40vw;
    font-size: 4vw;
    color: white;
    font-weight: 600;
}



@media (min-width: 576px) and (max-width: 990px) {
.landing h1{
    font-size: 7vw;
    top: 25vw;
    left: 35vw;
}

}



@media (max-width: 575px){


.landing h1{
    font-size: 15vw;
    top: 65vw;
    left: 15vw;
}



}