.gallarycontainer{
    padding-top: 5vw;
    display: flex;
}
.gallarycontainer img{
    height: 45vh;
    width: 20vw;
    object-fit: cover;
}
.gallarybtn{
   font-size: 1.5vw;
   border-radius: 0;
   position: absolute;
   left: 45vw;
   bottom: -549vh;
}
@media (min-width: 576px) and (max-width: 990px) {
.gallarycontainer img{
    height: 45vh;
    width: 25vw;
    object-fit: cover;


}
}
@media (max-width: 575px){
.gallarycontainer{
    padding-top: 10vw;
    display: flex;
}
.gallarycontainer img{
    height: 35vh;
    width: 50vw;
    object-fit: cover;


}}